{% include 'recipes/partials/head.html' %} 

<body>
    {% include 'recipes/partials/header.html' %}

    {% include 'recipes/partials/search.html' %}

    <main class="main-content-container">
        <div class="main-content main-content-list container">
            <!-- Forma diferente de fazer if com for -->
            {% for recipe in recipes %}
                {% include 'recipes/partials/recipe.html' %}
            {% empty %}
                <div class="center m-y">
                    <h1>No recipes found here 🥲</h1>
                </div>
            {% endfor %}

            {% include 'recipes/partials/pagination.html' %}
        </div>
    </main>

    {% include 'recipes/partials/footer.html' %}
</body>
</html>